<main>
  <section class="crypto-search">
    <h1>Search</h1>

    <form class="search-form" method="GET">
      <input
        type="text"
        class="search-coin"
        name="name"
        value="{{name}}"
        placeholder="Search here..."
      />
      <select id="payment" name="paymentMethod">
        {{#each paymentMethods}}
          <option value="{{value}}" {{#if isSelected}}selected{{/if}}>{{label}}</option>
        {{/each}}
      </select>
      <button type="submit" class="btn-search">Search</button>
    </form>
  {{#if crypto}}
    <div class="search-result">
      <div class="search-list">
        {{#each crypto}}
            {{>coin}}
        {{/each}}  
      </div>
  {{else}} 
        <div class="no-match">
            <p>No match was found!</p>
        </div>  
    </div>    
  {{/if}} 
  </section>
</main>